section{
    text-align: center;
}


.title{
    font-family: 'Roboto', sans-serif;
}

.button__cont{
display: flex;
flex-wrap: wrap;
}
.button{
    width: 50;
    font-family: 'Roboto', sans-serif;
}